* {
  margin: 0;
  padding: 0;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted red;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search {
  animation: jump 0.3s linear;
  transition: 0.3s ease-in-out;
  transform: translateY(0px);
}

@keyframes jump {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
